/*Utilizando root*/
:root {
    --fonte-titulo: "Nunito", sans-serif;
    --fonte-corpo: "PT Sans", sans-serif;

    --cor-titulo: #212121;
    --cor-subtitulo: #313131;
    --cor-corpo: #3F3F3F;

    --cor-topicos-hover: #336D99;
    --cor-topicos-selecionados: #388AC9;
}

/* Importando fontes */

.nunito-400 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nunito-700 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pt-sans-regular-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.pt-sans-bold-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.reem-kufi-400 {
  font-family: "Reem Kufi", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nunito{
    font-family: "Nunito";
}
/* Propriedades de reset (3 primeiras)*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F0FFFC;

}
/* Definindo o body com a fonte corpo por padrão*/

body {
  font-family: var(--fonte-corpo);
}
/* Garantir que o header vai ocupar a largura máxima, deixar documentado */
header {
  width: 100%;
}
/* NAVBAR*/
  #navbar {
    display: flex;
    align-items: center;
    background-color: #F0FFFC ;
    justify-content: space-between;
    padding: 10px 100px;
    border-radius: 0 0 30px 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);

    
  }
  /* flex: 1 = faz o elemento crescer e ocupar o espaço vazio  disponível dentro do container flex pai (sem isso, o elemento  fica do tamanho mínimo do próprio conteúdo, e o justify-content não tem espaço sobrando pra distribuir).Só funciona se o pai tiver display: flex.*/
  nav {
    flex : 1;
  }


  #nav-list{
    display: flex;
    list-style: none;
    gap: 100px;
    justify-content: center;
    align-items: center;

  }
  /* Deixar o "Início" já azulzinho ao entrar na landing = Dentro do elemento com id nav-list, pegue o primeiro li (filho do ul), e dentro do li, pegue o elemento com classe .nav-topics */
  #nav-list li:first-child .nav-topics{
    color: var(--cor-topicos-selecionados) ;
  }
  
  #logo-nav {
    height: 30px;
    
  
  }

  .nav-topics {
    text-decoration: none;
    color: var(--cor-titulo);
    font-weight: 700;
    font-family: var(--fonte-titulo);
    
  }
  
/* Botão cta */
.button-default {
  text-decoration: none;
  font-family: var(--fonte-titulo);
  font-weight: 700;
  padding: 6px 20px;
  box-shadow: 0 0 10px #007A88;
  border-radius: 8px;
  color: #03A4B6;
  transition: all 0.5s ease;
}

.button-default:hover {
background-color: #03A4B6 ;
color: #F0FFFC;
box-shadow: 0 0 15px #007A88;
}
  