/*Utilizando root*/
:root {
    --fonte-titulo: "Nunito", sans-serif;
    --fonte-corpo: "PT Sans", sans-serif;
    --fonte-quimia: "Reem Kufi", sans-serif;

    --cor-titulo: #212121;
    --cor-subtitulo: #313131;
    --cor-corpo: #3F3F3F;

    --cor-topicos-hover: #336D99;
    --cor-topicos-selecionados: #388AC9;

    --branco-esverdeado : #F0FFFC;

    /* Paleta de cores */
    --paleta-verde1 : #1EEE97;
    --paleta-verde2: #00DC9D;
    --paleta-verde3: #2DBC93;

    --paleta-azul1: #4CF1FF;
    --paleta-azul2: #5ADFDA;
    --paleta-azul3: #02D1D6;
}

/* Importando fontes */

.nunito-400 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nunito-700 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pt-sans-regular-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.pt-sans-bold-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.reem-kufi-400 {
  font-family: "Reem Kufi", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nunito{
    font-family: "Nunito";
}
/* Propriedades de reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
/* Definindo o body com a fonte corpo por padrão*/

body {
  font-family: var(--fonte-corpo);
  background-color: var(--branco-esverdeado);
}
.body {
  font-size: 18px;
  color: var(--cor-corpo);
}
.subtitle {
  color: var(--cor-subtitulo);
}
.title {
  color: var(--cor-titulo);
  font-family: var(--fonte-titulo);
  font-size:30px ;
  font-weight: 600;
}
/* Garantir que o header vai ocupar a largura máxima, deixar documentado */
header {
  width: 100%;
}
/* NAVBAR*/
  #navbar {
    display: flex;
    align-items: center;
    background-color: var(--branco-esverdeado) ;
    justify-content: space-between;
    padding: 10px 100px;
    border-radius: 0 0 30px 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    /* fazendo com que a nav fique fixa */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    /* garante que a navbar fique sempre por cima dos outros elementos, poruqe nenhum vai ter um z-index maior */
    z-index: 1000;
  }
  /* flex: 1 = faz o elemento crescer e ocupar o espaço vazio  disponível dentro do container flex pai (sem isso, o elemento  fica do tamanho mínimo do próprio conteúdo, e o justify-content não tem espaço sobrando pra distribuir).Só funciona se o pai tiver display: flex.*/
  nav {
    flex : 1;
  }

  #nav-list{
    display: flex;
    list-style: none;
    gap: 100px;
    justify-content: center;
    align-items: center;
    transition: color 0.5s ease;
  }
  /* Deixar o "Início" já azulzinho ao entrar na landing = Dentro do elemento com id nav-list, pegue o primeiro li (filho do ul), e dentro do li, pegue o elemento com classe .nav-topics */
  #nav-list li:first-child .nav-topics{
    color: var(--cor-topicos-selecionados) ;
  }
  /* Hover dos topicos */
  #nav-list :hover {
    color: var(--cor-topicos-hover);
  }
  #logo-nav {
    height: 30px;
  }

  .nav-topics {
    text-decoration: none;
    color: var(--cor-titulo);
    font-family: var(--fonte-titulo);
    font-weight: 700;
  }
  
/* Botão cta */
.button-default {
  text-decoration: none;
  font-family: var(--fonte-titulo);
  font-weight: 700;
  padding: 6px 20px;
  box-shadow: 0 0 10px #007A88;
  border-radius: 8px;
  color: #03A4B6;
  transition: all 0.5s ease;
}

.button-default:hover {
background-color: #03A4B6 ;
color: var(--branco-esverdeado);
box-shadow: 0 0 15px #007A88;
}
/*MAIN -> SECTION 1 (tela inicial) */
#inicio {
  background-image: url(../images/background-tela\ inicial.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 90px;
  /* 100% da altura da janela do navegador que está visível no momento, independente da tela do monitor do computador, se adaptando */
  height: 100vh;
  color: var(--branco-esverdeado);
}
/*Botão para mudar de landing*/
#btn-target-audience {
  border: 2px solid var(--branco-esverdeado) ;
  border-radius: 40px;
  /* corta qualquer coisa que tente ultrapassar o formato arredondado do container */
  overflow: hidden;
  align-items: center;
  display: flex;
  width: fit-content;
  margin: 5px auto 0;
}
.target {
  text-decoration: none;
  color: var(--branco-esverdeado);
  background-color: transparent;
  padding: 15px;
  font-size: 15px;
  font-weight: 600;
}
/* Criando a classe active para deixar um dos dois botões selecionados */
.target.active {
background-color: var(--paleta-azul2);
color: var(--cor-titulo);
border-radius: 30px;
padding: 15px;
}

/* Estilizando h1 e subtitulo*/
h1 {
  font-size: 50px;
  font-weight: 900;
  font-family: var(--fonte-titulo);
  
}
#title-and-subtitle {
 margin: 30px 100px 70px;
}

.glass-retangles {
  margin: 20px 100px; 
  display: flex;
  /* Efeito glass */
  background-color: rgba(255,255,255, 0.05);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 16px;
  padding: 20px;
  align-items: center;
  width: 400px;
  justify-content: space-between;

}
.glass-icons {
height: 25px;
}
/*MAIN -> SECTION 2 (o que combatemos) */
#proposito {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
  
/*Estilizando título e subtítulo */  

.purpose.title {
  font-weight: 850;
}

.purpose.subtitle{
  margin-bottom: 50px;
  }
.azul{
color: var(--paleta-azul3);
}
/*Estilizando a div com o conteúdo principal */
#purpose-div {
  display: flex ;
  width: fit-content;
  justify-content: center;
  padding: 70px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  border-radius: 30px;
  gap: 100px;
  margin-bottom: 50px;
}
.purpose-div.title {
  color: #47606B;
  font-size: 20px;
  font-family: var(--fonte-titulo);
  font-weight: 650;
  transition: all 0.5s ease;
  
}
.purpose-content {
  text-align: center;
}
/* *quando o mouse estiver em cima de qualquer elemento com a classe .purpose-content (isso é o :hover), procure lá dentro dele um elemento que tenha a classe .purpose-icons, e aplique o estilo nesse elemento de dentro*/
.purpose-content:hover .purpose-icons {
  background-color: var(--paleta-azul3);
}
.purpose-content:hover .purpose-div.title {
  color: var(--paleta-azul3);
}

.purpose-icons {
  background-color:#47606B ;
  padding: 12px;
  border-radius: 14px;
  transition: all 0.5s ease;
}

/* MAIN -> SECTION 3 (quimia) */
#quimia {
  display: flex;
  padding: 120px 100px 0;
  margin-right: 100px;
  background-image: url(../images/blur-logo.svg);
  background-size:500px;
  background-position: right;
  background-repeat: no-repeat;
  flex: 1;
  position: relative;
  
}
#mokkers {
  height: 300px;
  background-color:none;
  position: absolute;
  right: 8%;
  top: 200px;
  
}
#quimia-content {
  margin-bottom: 100px;
}

#quimia-title {
font-family: var(--fonte-quimia);
font-size: 30px;
padding-bottom: 70px;
color: var(--cor-titulo);
}
.quimia.body {
  padding-bottom: 40px;
}
.verde {
  color: var(--paleta-verde3 );
} 

/*MAIN -> SECTION 4 (funcionalidades quimia) */
#funcionalidades {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.func-left, .func-right {
   padding: 100px 0;
  display: flex;
  width: 100%;  
  justify-content: space-between;
  align-items: center;
}
.func-right img {
  border-radius: 0 20px 20px 0;
  
}
.func-left img {
  border-radius: 20px 0 0 20px;
}
.func-text {
   padding: 0 100px;
   display: flex;
   flex-direction: column;
   gap: 50px;
}
.func.title{
  font-weight: 700;
}
.funcionalities-images {
  height: 250px;
}
.funcionalities-icons {
  background-color:#86DEC6;
  padding: 10px;
  border-radius: 8px;
  height: 50px;
  width: fit-content;
  /*Colocar o ícone na borda da div*/  
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.whole-func {
  position: relative;
  width: 100%;
  border: 5px solid #86DEC6 ;
  border-radius: 35px 35px 0 0;
}
/* para todos os retângulos que contém o conteúdo menos o primeiro, puxe eles 30 pixels para cima */
.whole-func:not(:first-child) {
  margin-top: -30px;
}

.g {
  background-color: #AAE8D7;
  text-align: right;

}
.w {
  background-color: var(--branco-esverdeado);
}


